POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app

DJANGO_SECRET_KEY=dev-secret-key-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DJANGO_SETTINGS_MODULE=backend_django_dev.settings
CORS_ALLOW_ALL_ORIGINS=1
BACKEND_PORT=18000

CELERY_APP=backend_django_dev
CELERY_LOGLEVEL=info
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CHANNEL_REDIS_URL=redis://redis:6379/0

JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

WOOCOMMERCE_STORE_URL=http://nginx
WOOCOMMERCE_CONSUMER_KEY=ck_78305bdd6f2f396a956490e3c5adb15026a466ec
WOOCOMMERCE_CONSUMER_SECRET=cs_14745037a6cf9e88fb0499ee6d18581d6c39b329
WOOCOMMERCE_TIMEOUT_SECONDS=15
WOOCOMMERCE_AUTH_METHOD=auto
WOOCOMMERCE_SIGNATURE_BASE_URL=http://localhost
