POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app

DJANGO_SECRET_KEY=dev-secret-key-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DJANGO_SETTINGS_MODULE=backend_django_dev.settings
CORS_ALLOW_ALL_ORIGINS=1
BACKEND_PORT=18000

CELERY_APP=backend_django_dev
CELERY_LOGLEVEL=info
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CHANNEL_REDIS_URL=redis://redis:6379/0

JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7

WOOCOMMERCE_STORE_URL=http://host.docker.internal:8888
WOOCOMMERCE_CONSUMER_KEY=ck_1b6cc73c3a45611aa7adbe54e7d68d9b60c56f84
WOOCOMMERCE_CONSUMER_SECRET=cs_9803a0aa9fa234326bcdd659a82e48e256b811d8
WOOCOMMERCE_TIMEOUT_SECONDS=15
WOOCOMMERCE_AUTH_METHOD=auto
WOOCOMMERCE_SIGNATURE_BASE_URL=http://localhost:8888
